:root {
    --color-primary: rgb(11, 15, 25);
    --color-primary-o: rgba(11, 15, 25, 0.5);
    --color-secondary: rgb(226, 229, 241);
    --color-text-primary: rgb(226, 229, 241);
    --color-text-secondary: rgb(128, 128, 128);
    --color-gray-medium: rgb(31, 33, 40);
    --color-gray-dark: rgb(8, 15, 23);
    --color-gray-dark-o: rgba(43, 43, 43, 0.5);
    --color-theme: rgb(255, 215, 0);
    --color-theme-o: rgba(255, 215, 0, 0.8);
}

:root.light {
    --color-primary: rgb(226, 229, 241);
    --color-primary-o: rgba(255, 255, 255, 0.5);
    --color-secondary: rgb(11, 15, 25);
    --color-text-primary: rgb(11, 15, 25);
    --color-text-secondary: rgb(128, 128, 128);
    --color-gray-medium: rgb(239, 242, 245);
    --color-gray-dark: rgb(190, 190, 190);
    --color-gray-dark-o: rgba(190, 190, 190, 0.2);
    --color-theme: rgb(204, 177, 0);
    --color-theme-o: rgba(204, 177, 0, 0.8);
}
