:root {
    --color-primary: #0B0F19;
    --color-primary-o: rgba(11, 15, 25, 0.5);
    --color-secondary: #E2E5F1;
    --color-text-primary: #E2E5F1;
    --color-text-secondary: #808080;
    --color-gray-medium: #313131;
    --color-gray-dark: #2B2B2B;
    --color-gray-dark-o: rgba(43, 43, 43, 0.5);
    --color-theme: #FFD700;
    --color-theme-o: rgba(255, 215, 0, 0.8);
}

:root.light {
    --color-primary: white;
    --color-primary-o: rgba(255, 255, 255, 0.5);
    --color-secondary: #0B0F19;
    --color-text-primary: #0B0F19;
    --color-text-secondary: #808080;
    --color-gray-medium: #E2E5F1;
    --color-gray-dark: #BEBEBE;
    --color-gray-dark-o: rgba(190, 190, 190, 0.2);
    --color-theme: #CCB100;
    --color-theme-o: rgba(204, 177, 0, 0.8);
}

$background-color: #0B0F19;
