

.custom-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .component-demo, .component-how-to-use, .images {
        opacity: 0; // Sätt initial opacitet till 0
        transform: translateY(100%); // Starta utanför skärmen
        animation: slideInFromBottom 1.2s ease-out forwards;
    }

    .arrows, .line-down, .line-down-mobile {
        opacity: 0; // Sätt initial opacitet till 0
        animation: fadeIn 1s ease-out forwards;
    }

    .line-down {
        z-index: -1;
        animation-delay: 4s;
    }

    .line-down-mobile {
        display: flex;
        justify-content: center;
        text-align: center;
        z-index: -1;
        animation-delay: 4s;

        @include xl {
            display: none;
        }
    }

    .component-demo {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        animation-delay: 0.5s;
        @include box;
        padding: 40px 10px;

        @include xl {
            flex-direction: row;
            justify-content: space-between;
            @include box;
        }

        .description {
            width: 100%;
            text-align: center;

            @include xl {
                width: 40%;
                text-align: left;
            }

            h5 {
                font-size: 1.1rem;
                margin-bottom: 5px;
                margin-top: 0;
            }

            p {
                font-size: 0.7rem;
                color: var(--color-text-secondary);
                margin: 0;
                padding: 0 21px;

                @include xl {
                    padding: 0;
                }
            }
        }
    }

    .component-how-to-use {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation-delay: 1.5s; // Exempel på fördröjning

        @include box;




        h5 {
            font-size: 1.1rem;
            margin-bottom: 5px;
            margin-top: 0;
            text-align: center;
            max-width: 130px;
        }

        p {
            font-size: 0.7rem;
            color: var(--color-text-secondary);
            margin-bottom: 0;
            text-align: center;
            max-width: 130px;



            span {
                color: var(--color-text-primary);
            }
        }

        @include xl {


            h5 {

                text-align: left;
            }

            p {
                text-align: left;
            }
        }
    }

    .arrows {
        display: none;
        margin-top: -50px;
        gap: 225px;
        animation-delay: 4s;

        @include xl {
            display: flex;
        }
    }

    .images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation-delay: 2.5s;
        gap: 20px;

        .line-down-mobile {
        }


        @include xl {
            flex-direction: row;
            gap: 80px;
        }


        .img {
            position: relative;
            width: 350px;
            @include box;
            padding: 17px;


            img {
                width: 100%;

                @include xl {
                    padding: 15px;
                }
            }

            span {
                position: absolute;
                left: 10px;
                top: 5px;
                font-size: 0.7rem;
            }
        }
    }
}




@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}