.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
   


    div {
        position: relative;
        display: flex;
        width: 100%;
        min-width: 200px;
        justify-content: space-between;
        background-color: var(--color-white);
        color: var(--color-text);
        padding: 10px 21px;
        border: 1.5px solid white;
        cursor: pointer;
        font-size: 0.7rem;
        height: 50px;
        align-items: center;


        &.focus {
      
        }


        span {
            position: absolute;
            top: -6px;
            left: 16px;
            background-color: var(--color-white);
            padding: 0 5px;
            font-size: 0.5rem;
            text-transform: uppercase;
        }




        i {
            padding-left: 10px;
        }
    }
    /*ul {
        display: none;
        position: absolute;
        list-style-type: none;
        padding: 0;
        background-color: var(--color-white);
        width: 100%;
        border: 1.5px solid white;
        border-top: 0;
        z-index: 1;
        border-end-end-radius: 25px;
        border-end-start-radius: 25px;
        text-align: center;
        top: 32.5px;

        li {
            position: relative;
            color: var(--color-text);
            padding: 10px 0;
            text-decoration: none;
            display: block;
            font-size: 0.8rem;
            text-align: center;
            transition: opacity 0.3s ease-in-out;

            &:last-child {
                border-end-end-radius: 20px;
                border-end-start-radius: 20px;
            }

            &:hover {
                cursor: pointer;
                opacity: 0.5;
            }

            
        }
    }*/
}

.dropdown-menu {
    visibility: hidden; // Startar som osynlig
    position: absolute;
    list-style-type: none;
    padding: 0;
    background-color: var(--color-white);
    width: 100%;
    border: 1.5px solid white;
    border-top: 0;

    z-index: 100;
    text-align: center;
    top: 32px;
    transform: translateY(-1%);
    transition: transform 0.3s ease-in, max-height 0.3s ase-in; // Behåller endast övergången för transform
    max-height: 0; // Startar med max-höjd 0 för att dölja innehållet
    overflow: hidden; // Förhindrar innehåll från att visas utanför max-höjd
    padding-bottom: 10px;

    li {
        position: relative;
        color: var(--color-text);
        padding: 11px 0;
        text-decoration: none;
        display: block;
        font-size: 0.8rem;
        text-align: center;
       

        &:last-child {
            border-end-end-radius: 20px;
            border-end-start-radius: 20px;
        }

        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }

    &.show {
        visibility: visible; // Gör synlig
        transform: translateY(0);
        max-height: 500px; // Sätt en max-höjd som är tillräckligt stor för att visa allt innehåll
    }
}






