.skill {
    background-color: var(--color-gray-800);
    border-bottom: 2px solid var(--color-theme);
    padding: 40px 15px;




    .logo-section {
        margin-bottom: 30px;
    }

    .content-section {

        p {
            font-size: 0.7rem;
            
        }
    }
}
