@page "/projects"


<section class="projects">
    <div class="container">
        <div class="return-btn">
            <a href="/" class="btn btn-back"><i class="fa-regular fa-arrow-left"></i>Back</a>
        </div>
        <div class="title-section">
            <div class="titles">
                <h3>Projects</h3>
            </div>
        </div>

        <div class="projects-section">
            @foreach (var project in projects)
            {
                <ProjectListItemComponent Model="project" CssClass="listItem" />
            }
        </div>
    </div>
</section>

@code {
    private List<ProjectListItem> projects = new();

    protected override void OnInitialized()
    {
        projects = ProjectService.GetProjects();
    }


}
