<div class="theme-switch">
    <label for="theme-switch-mode">Light</label>
    <label class="switch">
        <input id="theme-switch-mode" type="checkbox" />
        <span class="slider round"></span>
    </label>
    <label for="theme-switch-mode">Dark</label>
</div>

@code {

}
