@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<button class="btn btn-back" @onclick="GoBack"><i class="fa-solid fa-arrow-left"></i>Go Back</button>
@code {

    private async Task GoBack()
    {
        if(Fragment != null)
            NavigationManager.NavigateTo($"/#{Fragment}");
        else
            NavigationManager.NavigateTo("/");
    }

    [Parameter] public string? Fragment { get; set; }
}