<h4 class="title-component @CssClass"><span>-----------</span>@Title</h4>

@code {
    [Parameter] public string Title { get; set; } = null!;
    [Parameter] public string? CssClass { get; set; }
}


