<section class="custom-components">
    <div class="container">
        
        <div class="title-section">
            <h4>I have also developed some generic custom components in Blazor that can be reused in various projects.</h4>
        </div>
        <div class="link-section">
            <a class="btn btn-secondary" href="/custom-components">Check it out<i class="fa-solid fa-arrow-up-right"></i></a>
        </div>
    </div>
</section>

@code {

}
