

<section class="hero-section">
    <div class="container">

        <div class="title-section">
            <h3>Hello, I’m Kristoffer Ström</h3>
            <h1>@displayText<span class="@(cursorVisible ? "blink" : "")">|</span></h1>

        </div>
        <div class="content-section">
            <p>
                I’m from Singapore and I have been working as a Product Designer for more than 7 years.
                I’ve worked for a Hanziree company Pabloo as a Product Designer and Front-end Developer for 3 years.
            </p>
        </div>
        <div class="btn-section">
            <a href="mailto:kristoffer.strom@hotmail.se" class="btn btn-theme"><i class="fa-sharp fa-regular fa-envelope"></i>Email Me</a>
            <a class="btn btn-secondary"> <i class="fa-regular fa-download"></i>Download CV</a>
        </div>

    </div>

</section>

@code {
    private string displayText = "";
    private string fullText = ".NET Developer";
    private bool cursorVisible = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            for (int i = 0; i < fullText.Length; i++)
            {
                displayText += fullText[i];
                StateHasChanged();
                await Task.Delay(100);
            }

            cursorVisible = true;
            StateHasChanged();
        }
    }
}

