<section class="hero-section">
    <div class="container">

        <div class="title-section">
            <h1>@displayText<span class="blink">|</span></h1>
        </div>

        <div class="content-section @(showContentSection ? "fade-in" : "hidden")">
            <h3>Hello, I’m Kristoffer Ström</h3>
            <p>
                I am a second-year .NET development student at Nackademin in Stockholm.
                I am currently seeking an internship (LIA) for the period December 2nd to April 18th.
            </p>
        </div>

        <div class="btn-section @(showBtnSection ? "show" : "hidden")">
            <a href="mailto:kristoffer.strom@hotmail.se" class="btn btn-theme btn-email"><i class="fa-sharp fa-regular fa-envelope"></i>Email Me</a>
            <a href="/files/CV.pdf" class="btn btn-secondary" download> <i class="fa-solid fa-download"></i>Download CV</a>
        </div>

    </div>
</section>

@code {
    private string? displayText;
    private string fullText = ".NET Developer";
    private bool cursorVisible = false;
    private bool showContentSection = false;
    private bool showBtnSection = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(2500); // Wait for 2 seconds while the span is blinking

            for (int i = 0; i < fullText.Length; i++)
            {
                displayText += fullText[i];
                StateHasChanged();
                await Task.Delay(100);

                if (i == fullText.Length - 1)
                {
                    cursorVisible = true;
                    await Task.Delay(1000);
                    showContentSection = true;
                    StateHasChanged();
                    await Task.Delay(1000);
                    showBtnSection = true;
                    StateHasChanged();
                }
            }
        }
    }
}
