

<section id="skills" class="skills">
    <div class="container">
        <TitleComponent Title="Skills" CssClass="skill-title" />
        <div class="title-section">

            <h3>My experience so far...</h3>
            <div class="services">
                <TitleComponent Title="Color mode" CssClass="title"/>
                
                <p>Easily switch between dark and light mode for a more comfortable and customizable viewing experience.</p>
                <ColorModeComponent />
            </div>

        </div>

        <div class="skills-section">
            <SkillComponent Model="frontend" />
            <SkillComponent Model="backend" />
            <SkillComponent Model="other" />
        </div>
    </div>
</section>




@code {
    private SkillModel frontend = new SkillModel
        {
            ImageSrc = "fa-solid fa-code",
            Title = "Frontend",
            Description = "I have experience with React and Blazor, the framework I used to build this website. In addition to these frameworks, I have skills in HTML, CSS (including Tailwind and Sass), as well as jQuery and vanilla JavaScript."
        };

    private SkillModel backend = new SkillModel
        {
            ImageSrc = "fa-regular fa-database",
            Title = "Backend",
            Description = "I believe my greatest strengths lie in backend development. I have experience in areas such as web APIs, ASP.NET MVC, SQL databases and microservices."
        };

    private SkillModel other = new SkillModel
        {
            ImageSrc = "fa-light fa-rocket",
            Title = "Other",
            Description = "Throughout my education, I engaged in diverse group projects, adopting agile methods. I also gained experience in creating diagrams like sequence and activity diagrams."
        };
}

