
<section id="skills" class="skills-section">
    <div class="container">
        <p>loreadaskfnfaklnlkanfklanflksanflknalflknasklfnlkafsk</p>
        <p>loreadaskfnfaklnlkanfklanflksanflknalflknasklfnlkafsk</p>
        <p>loreadaskfnfaklnlkanfklanflksanflknalflknasklfnlkafsk</p>
    </div>
</section>

