

.header {
    background-color: var(--color-primary);
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-weight: 600;

    .container {
        position: relative;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: "logo nav";
        align-items: center;



        .logo {
            grid-area: logo;
            font-size: 0.8rem;
            align-items: center;

            span {
                color: var(--color-theme);
            }
        }

        .nav-menu {
            grid-area: nav;
            display: flex;
            gap: 10px;
            padding-top: 0;
            align-items: center;
            justify-content: center;



            @include xl {
                gap: 40px;
            }




            .nav-link {
                display: none;
                font-size: 16px;
                text-decoration: none;
                font-weight: 600;
                color: var(--color-gray-000);
                margin-left: 18px;
                opacity: 0;
                animation: slideInFromRight 0.8s ease-out forwards;
                transition: color 0.5s ease-in-out;

                @for $i from 1 through 4 {
                    &:nth-child(#{$i}) {
                        animation-delay: 0.3s * $i;
                    }
                }



                @include xl {
                    font-size: 18px;
                    display: block;
                }


                &.active, &:active {
                    color: var(--color-theme);
   
                }



                &:hover {
                    color: var(--color-theme);
                }
            }
        }
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
