

.header {
    background-color: var(--color-primary-o);
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-weight: 600;

    .container {
        position: relative;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: "logo nav";
        align-items: center;
        


        .logo {
            grid-area: logo;
            font-size: 0.8rem;
            align-items: center;

            span {
                color: var(--color-theme);
            }
        }

        .nav-menu {
            grid-area: nav;
            display: flex;
            gap: 20px;
            padding-top: 0;
            align-items: center;
            justify-content: center;


            @include xl {
                gap: 40px;
            }

            .btn-email {
                position: absolute;
                right: 12px;
                padding: 2px 8px;
                

                i {
                    margin-right: 5px;
                }
            }

            .link {
                opacity: 0;
                animation: slideInFromRight 0.8s ease-out forwards;

                @for $i from 1 through 4 {
                    &:nth-child(#{$i}) {
                        animation-delay: 0.3s * $i;
                    }
                }
            }

            .nav-link {
                font-size: 14px;
                text-decoration: none;
                font-weight: 600;
                color: var(--color-gray-000);


                @include xl {
                    font-size: 18px;
                }


                &.active {
                    color: var(--color-theme);
                    text-decoration: underline;
                }

                &:hover {
                    color: var(--color-theme);
                }
            }
        }
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
