.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;






    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;

        @include xl {
            gap: 30px;
        }



        .title-section {
            margin-bottom: 40px;
            margin-top: -80px;

            @include xl {
                margin-bottom: 0;
                margin-top: 40px;
            }


            h1 {
                text-align: center;
                font-size: 2.5rem;
                margin: 0;
                position: relative;
                border: none;
                outline: none;
                box-shadow: none;
                min-height: 4rem; // Ange en min-height baserat på den största förväntade höjden


                @include xl {
                    height: 1.3em;
                    font-size: 4rem;
                    margin-left: -17px;
                    text-align: left;
                    min-height: 5.5rem; // Justera för större skärmar
                }

                .blink {
                    animation: blink 1s infinite;
                }

                span {
                    position: absolute;
                    font-size: 3.3rem;
                    font-weight: 500;
                    bottom: -7px;

                    @include xl {
                        font-size: 5rem;
                        font-weight: 500;
                        bottom: -23px;
                    }
                }
            }
        }

        .content-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 30px;

            h3 {
                color: var(--color-theme);
                font-weight: 400;
                margin: 0;
                text-align: center;

                @include xl {
                    text-align: left;
                }
            }


            p {
                font-size: 0.9rem;
                color: var(--color-text-secondary);
                text-align: center;

                @include xl {
                    text-align: left;
                }
            }

            @include xl {
                max-width: 500px;
                justify-content: flex-start;
            }
        }

        .btn-section {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 30px;
            


            a {
                transform: translateX(-100%);
                opacity: 0;
            }

            @include xl {
                display: flex;
                flex-direction: row;
                margin-top: 0;
                gap: 25px;
            }

            .btn {
                text-align: center;


                @include xl {
                    width: auto;
                    margin-top: 30px;
                }

                i {
                    margin-right: 5px;
                }
            }

            &.show {
                a {
                    animation: slideInFromLeft 1s ease-out forwards;
                }

                .btn-email {
                    animation-delay: 0.5s;
                }

                .btn-download {
                    animation-delay: 0s;
                }
            }
        }


        .content-section, .btn-section {
            /*opacity: 0;*/
        }

        .fade-in {
            animation: fadeIn 2s ease-out forwards;
        }
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.hidden {
    visibility: hidden;
}
    
