.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;

    .container {
        .title-section {


            h1 {
                font-size: 2.5rem;
                margin: 0;
                position: relative;
                border: none;
                outline: none;
                box-shadow: none;

                @include xl {
                    height: 1.3em;
                    font-size: 4rem;
                    margin-left: -17px;
                }

                .blink {
                    animation: blink 1s infinite;
                }

                span {
                    position: absolute;
                    font-size: 3.3rem;
                    font-weight: 500;
                    bottom: -11px;

                    @include xl {
                        font-size: 5rem;
                        font-weight: 500;
                        bottom: -29px;
                    }
                }
            }
        }

        .content-section {
            max-width: 500px;
            margin-top: 30px;

            h3 {
                color: var(--color-theme);
                font-weight: 400;
                margin: 0;


                @include xl {
                }
            }


            p {
                font-size: 0.9rem;
                color: var(--color-text-secondary);

                @include xl {
                }
            }
        }

        .btn-section {
            display: flex;
            gap: 25px;
            margin-top: 30px;

            a {
                transform: translateX(-100%);
                opacity: 0;
            }

            @include xl {
            }

            .btn {
                width: 100%;
                text-align: center;


                @include xl {
                    width: auto;
                    margin-top: 30px;
                }

                i {
                    margin-right: 5px;
                }
            }

            &.show {
                a {
                    animation: slideInFromLeft 1s ease-out forwards;
                   
                }

                .btn-email {
                    animation-delay: 0.5s;
                }

                .btn-download {
                    animation-delay: 0s;
                }
            }
        }


        .content-section, .btn-section {
            /*opacity: 0;*/
        }

        .fade-in {
            animation: fadeIn 2s ease-out forwards;
        }
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.hidden {
    visibility: hidden;
}
    
