.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-gray-medium);
    padding-top: 80px;
    padding-bottom: 40px;
    position: relative;

    .container {

        .title {
            position: absolute;
            top: 70px;
        }

        .title-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 40px;

            .titles {


                h3 {
                    font-size: 2rem;
                    width: 100%;
                    text-align: center;


                    @include xl {
                        width: 60%;
                        font-size: 2rem;
                        text-align: left;
                    }
                }
            }

            .btn-view-all {
                display: none;
            }
        }

        .projects-section {
            display: grid;
            grid-template-columns: auto;
            justify-content: space-between;
            gap: 15px;

            @include xl {
                grid-template-columns: auto auto;
            }

            .listItem {
                margin-bottom: 20px;
            }
        }
    }
}
